<!--job.vtl-->
<h1>$job.getTitle() at $job.getName()</h1>
<h2>You will $job.getDescription()</h2>
<h3>To apply send resume to $job.getContactInfo()</h3>

<a href="/cities/$city.getId()">Back to postings in your city.</a>
<!--job.vtl-->
